<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/_head.ejs') %>
</head>
<body class="<%= themePreference %>">
  <%- include('./partials/_header.ejs') %>
  <div class="container mt-5">
    <h1>Welcome, <%= username %>!</h1>
    <p>Your account status is: <%= accountStatus %>.</p>
    <p>Your balance is: <span id="balance"><%= balance %></span> USDT.</p>
    <p>Your commission is: <span id="commission"><%= commission %></span> USDT.</p>
    <div class="theme-selection">
      <label for="themeSelect">Theme Preference:</label>
      <select id="themeSelect">
        <option value="light" <%= themePreference === 'light' ? 'selected' : '' %>>Light</option>
        <option value="dark" <%= themePreference === 'dark' ? 'selected' : '' %>>Dark</option>
      </select>
    </div>
    <div>
      <h3>Your Referral Link:</h3>
      <p><%= `${appBaseUrl}/register?referral=${user.referralCode}` %></p>
      <h4>Your Rewards: <%= user.rewards %></h4>
    </div>
    <div class="items-grid mt-4">
      <div class="row">
        <% items.forEach(function(item) { %>
          <% if (item.status === "available") { %>
            <div class="col-md-4 mb-4">
              <div class="card">
                <img src="<%= item.picture %>" class="card-img-top" alt="<%= item.name %>">
                <div class="card-body">
                  <h5 class="card-title"><%= item.name %></h5>
                  <p class="card-text">Price: <%= item.price %> USDT</p>
                  <p class="card-text">Total Amount: <%= item.totalAmount %> USDT</p>
                  <p class="card-text">Commission: <%= item.commission %> USDT</p>
                  <!-- Button to trigger modal -->
                  <button type="button" class="btn btn-primary item-details-button" data-bs-toggle="modal" data-bs-target="#itemDetailsModal" data-item-id="<%= item._id %>">
                    View Details
                  </button>
                </div>
              </div>
            </div>
          <% } %>
        <% }); %>
      </div>
    </div>
    <!-- Modal Structure -->
    <div class="modal fade" id="itemDetailsModal" tabindex="-1" aria-labelledby="itemDetailsModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="itemDetailsModalLabel">Item Details</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Item details will be populated here by modalItemDetails.js -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="announcements-section mt-5">
      <h2>Announcements</h2>
      <% announcements.forEach(function(announcement) { %>
        <div class="announcement mb-3">
          <h3><%= announcement.title %></h3>
          <p><%= announcement.content %></p>
          <p>Posted on: <%= announcement.createdAt.toDateString() %></p>
        </div>
      <% }); %>
    </div>
  </div>
  <%- include('./partials/_footer.ejs') %>
  <script src="/js/main.js"></script>
  <script src="/js/walletInfo.js"></script>
  <script src="/js/balanceUpdates.js"></script>
  <script src="/js/modalItemDetails.js"></script>
  <script>
    
    document.getElementById('themeSelect').addEventListener('change', function() {
      const selectedTheme = this.value;
      fetch('/update-theme', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ theme: selectedTheme }),
      })
      .then(response => {
        if (response.ok) {
          document.body.className = selectedTheme;
        } else {
          alert('Failed to update theme preference.');
        }
      })
      .catch(error => {
        console.error('Error updating theme preference:', error);
        alert('Failed to update theme preference.');
      });
    });

    // Set initial theme on load
    document.body.className = '<%= themePreference %>';

    var modalElement = document.getElementById('itemDetailsModal');
    modalElement.addEventListener('hidden.bs.modal', function (event) {
      var backdrop = document.querySelector('.modal-backdrop');
      if (backdrop) {
        backdrop.remove();
      }
      // Enable scrolling on the body after the modal is closed
      document.body.style.overflow = '';
    });
  </script>
</body>
</html>