<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
<body>
<%- include('partials/_header.ejs') %>
<main role="main" class="container mt-4">
    <div class="text-center">
        <h2>Place Your Bet</h2>
        <form id="betForm">
            <div class="mb-3">
                <label for="betAmount" class="form-label">Bet Amount</label>
                <input type="number" class="form-control" id="betAmount" name="betAmount" required>
            </div>
            <div class="mb-3">
                <label for="prediction" class="form-label">Prediction</label>
                <select class="form-control" id="prediction" name="prediction" required>
                    <option value="above">Above</option>
                    <option value="below">Below</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="threshold" class="form-label">Threshold</label>
                <input type="number" class="form-control" id="threshold" name="threshold" min="0" max="100" required>
            </div>
            <div class="mb-3">
                <label for="multiplier" class="form-label">Multiplier</label>
                <input type="number" class="form-control" id="multiplier" name="multiplier" step="0.01" min="0.01" required>
            </div>
            <div class="mb-3">
                <label for="winChance" class="form-label">Win Chance Percentage</label>
                <input type="number" class="form-control" id="winChance" name="winChance" min="0" max="100" step="0.01" required>
            </div>
            <div class="mb-3 d-flex justify-content-around">
                <button type="button" class="btn btn-secondary" id="halfBet">½</button>
                <button type="button" class="btn btn-secondary" id="doubleBet">2x</button>
            </div>
            <button type="submit" class="btn btn-primary" id="submitBtn">Roll the Dice</button>
        </form>
        <div id="result"></div>
    </div>
</main>
</body>
<%- include('partials/_footer.ejs') %>
<script src="/js/game.js" nonce="<%= locals.nonce %>"></script>
<script src="/js/setBetAmount.js" nonce="<%= locals.nonce %>"></script>
<script src="/js/betButtonActions.js" nonce="<%= locals.nonce %>"></script>
</html>